
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0;   
    height: 70vh;
    width: 100vw;
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 90%;
    left: 30%;
    margin-left: -25%;
    top: 5em;
    
}
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

    
    .btn{
        position: absolute;
     
        bottom:11%;
        left:40%;
    }
    .timepicker{
        position: absolute;
        z-index:1;
        right: 20%;
        bottom: 17%;  
        border-style: none;
        height: 2em;
        width: 5.5em;
        background-color: rgba(107, 107, 107, 0.466);
    } 
    #datepicker{
        position: absolute;
        z-index: 1;
        left: 20%;
        bottom:17%;  
        border-style: none;
        height: 2em;
        width: 9em;
        background-color: rgba(107, 107, 107, 0.466);
    }
 
   
    